#
#   rosconsole will find this file by default at $ROS_ROOT/config/rosconsole.config
#
#   You can define your own by e.g. copying this file and setting
#   ROSCONSOLE_CONFIG_FILE (in your environment) to point to the new file
#
#log4j.threshold=OFF
log4j.threshold=WARNING

# Set the default ros output to warning and higher
# log4j.logger.ros=OFF

# Override my package to output everything
# log4j.logger.ros.livox_ros_driver2=OFF
